body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
    max-width: 800px;
    max-height: 480px;
    width: 100%;
    object-fit: contain;
}

#options-menu button {
    margin-bottom: 8px;
} 

.full-screen {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
}

.d-none {
    display: none !important;
}

.menu-field {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: auto;
    right: auto;
    top: min(20vh, 40vw);
    background-color: moccasin;
    border-radius: 16px;
    border: 2px solid gray;
    padding: 8px;
    font-size: min(2vw, 16px);
}

.shop-item {
    display: flex;
    margin: 8px;
}

.shop-item > p {
    margin: auto 0;
}

.upgrade-field {
    display: flex;
    align-items: center;
}

.upgrade-status {
    width: 1.7vw;
    height: 1.7vw;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 100%;
}

.has-upgrade {
    background-color: green;
}
.no-upgrade {
    background-color: red;
}

.button {
    font-size: min(2vw, 16px);
    white-space: nowrap;
}